<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  var title='<?php echo $signPackage["sharetitle"];?>';
  var desc='<?php echo $signPackage["sharedesc"];?>';
  var link='<?php echo $signPackage["sharelink"];?>';
  var img='<?php echo $signPackage["shareimg"];?>';
  wx.config({
    debug: true,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
	  "onMenuShareTimeline",
	  "onMenuShareAppMessage",
	  "onMenuShareQQ"  
    ]
  });
  wx.ready(function () {
    // 在这里调用 API
	wx.onMenuShareTimeline({
    title: title, // 分享标题
    link: link, // 分享链接
    imgUrl: img, // 分享图标
    success: function () { 
        // 用户确认分享后执行的回调函数
		alert("success");
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
		alert("fail");
    }
 }),
	wx.onMenuShareAppMessage({
    title: title, // 分享标题
    desc: desc, // 分享描述
    link: link, // 分享链接
    imgUrl: img, // 分享图标
    type: '', // 分享类型,music、video或link，不填默认为link
    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
    success: function () { 
        // 用户确认分享后执行的回调函数
		alert("success");
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
		alert("fail");
    }
}),
wx.onMenuShareQQ({
    title: title, // 分享标题
    desc: desc, // 分享描述
    link: link, // 分享链接
    imgUrl: img, // 分享图标
    success: function () { 
       // 用户确认分享后执行的回调函数
	   alert("success");
    },
    cancel: function () { 
       // 用户取消分享后执行的回调函数
	   alert("fail");
    }
})
});
</script>
</html>